# Data Processing for PAWS

In [2]:
import pandas as pd 
import numpy as np

df_paws = pd.read_csv("../datasets/paws.csv")

In [3]:
df_paws['sentence1_length'] = df_paws['sentence1'].apply(lambda x: len(x))
df_paws['sentence2_length'] = df_paws['sentence2'].apply(lambda x: len(x))

# Apply the first filtering of Batayan
first_filter_paws = (
    ((df_paws['sentence1_length'] > 20) & (df_paws['sentence1_length'] < 2000)) & 
    ((df_paws['sentence2_length'] > 20) & (df_paws['sentence2_length'] < 2000))
)

df_paws = df_paws[first_filter_paws]
df_paws_true = df_paws[df_paws['label'] == 1]
df_paws_false = df_paws[df_paws['label'] == 0]

df_paws_true_sampled = df_paws_true.sample(n=200, random_state=42)
df_paws_false_sampled = df_paws_false.sample(n=200, random_state=42)

In [4]:
df_result_paws = pd.concat([df_paws_true_sampled, df_paws_false_sampled], ignore_index=True)
print(len(df_result_paws))
df_result_paws = df_result_paws.iloc[:, 0:4]
df_result_paws.head()

400

,id,sentence1,sentence2,label
0,29568,The estuary of the Batten Kill is in East Dors...,The mouth of the Batten Kill is in East Dorset...,1
1,45829,La tempestad ( International translation : The...,La Tempestad ( International Translation : The...,1
2,46990,"Since 2006 , when Josephine Alhanko placed him...",Cerljen was also the first delegate from Swede...,1
3,13893,"He married Lady Florence Jane Taylour , daught...","He married Lady Florence Jane Taylour , the da...",1
4,41986,Elati is a village in the Kozani Regional Unit...,Elati is a village in the Kozani regional unit...,1

In [5]:
df_result_paws.to_csv("../datasets/cleaned/cleaned_paws.csv", index=False)

end